.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100vw;
}
.productBox:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___6DqQb {
  display: flex;
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  padding-top: 128px;
  padding-bottom: 128px;
  min-height: 0;
}
.freeBox__hfRvR {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 33%;
  opacity: 0.95;
  background: var(--token-QQdIvJFj1);
  min-height: 0;
}
.freeBox__m1Tit {
  max-width: 1140px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__ys0US {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 720px;
  min-width: 0;
  padding: 32px 24px;
}
.freeBox__ys0US > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__ys0US > :global(.__wab_flex-container) > *,
.freeBox__ys0US > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ys0US > :global(.__wab_flex-container) > picture > img,
.freeBox__ys0US
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.productTextField__ifK7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-NMmGPeibUc2odP);
  font-weight: 700;
  font-size: 24px;
}
.productTextField__eG74W:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-NMmGPeibUc2odP);
}
.freeBox__iciBr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.text {
  color: var(--token-NMmGPeibUc2odP);
  font-size: 14px;
}
.productPrice:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-aBsY9SsHOvs9dE);
}
.freeBox__ka22E {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__ka22E > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__ka22E > :global(.__wab_flex-container) > *,
.freeBox__ka22E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ka22E > :global(.__wab_flex-container) > picture > img,
.freeBox__ka22E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.linkButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.productMedia:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  z-index: -1;
  width: 100vw;
  object-fit: cover;
  min-height: 0;
}
