.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__bAa6C {
  flex-direction: row;
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 128px 32px;
}
.freeBox__bAa6C > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__bAa6C > :global(.__wab_flex-container) > *,
.freeBox__bAa6C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bAa6C > :global(.__wab_flex-container) > picture > img,
.freeBox__bAa6C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bAa6C {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bAa6C > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bAa6C > :global(.__wab_flex-container) > *,
  .freeBox__bAa6C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bAa6C > :global(.__wab_flex-container) > picture > img,
  .freeBox__bAa6C
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__alovx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__alovx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__alovx > :global(.__wab_flex-container) > *,
.freeBox__alovx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__alovx > :global(.__wab_flex-container) > picture > img,
.freeBox__alovx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__gsi5Q {
  position: relative;
  font-weight: 700;
}
.freeBox__vuWP {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__vuWP > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__vuWP > :global(.__wab_flex-container) > *,
.freeBox__vuWP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vuWP > :global(.__wab_flex-container) > picture > img,
.freeBox__vuWP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link___7J9K {
  position: relative;
  color: var(--token-tQRqDCxV2e3kAF);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link___7J9K:hover {
  color: var(--token-aBsY9SsHOvs9dE);
  padding-left: 10px;
}
.link__gyWvr {
  color: var(--token-tQRqDCxV2e3kAF);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__gyWvr:hover {
  color: var(--token-aBsY9SsHOvs9dE);
  padding-left: 10px;
}
.link__t3JxK {
  position: relative;
  color: var(--token-tQRqDCxV2e3kAF);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__t3JxK:hover {
  color: var(--token-aBsY9SsHOvs9dE);
  padding-left: 10px;
}
.link__c3Ur8 {
  position: relative;
  color: var(--token-tQRqDCxV2e3kAF);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__c3Ur8:hover {
  color: var(--token-aBsY9SsHOvs9dE);
  padding-left: 10px;
}
.freeBox__hCoVa {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__hCoVa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__hCoVa > :global(.__wab_flex-container) > *,
.freeBox__hCoVa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hCoVa > :global(.__wab_flex-container) > picture > img,
.freeBox__hCoVa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__hoNtx {
  position: relative;
  font-weight: 700;
}
.freeBox__w8Dy {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__w8Dy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__w8Dy > :global(.__wab_flex-container) > *,
.freeBox__w8Dy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w8Dy > :global(.__wab_flex-container) > picture > img,
.freeBox__w8Dy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__shNp {
  color: var(--token-tQRqDCxV2e3kAF);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__shNp:hover {
  color: var(--token-aBsY9SsHOvs9dE);
  padding-left: 10px;
}
.link__ypHwg {
  position: relative;
  color: var(--token-tQRqDCxV2e3kAF);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__ypHwg:hover {
  color: var(--token-aBsY9SsHOvs9dE);
  padding-left: 10px;
}
.link__kM55 {
  position: relative;
  color: var(--token-tQRqDCxV2e3kAF);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__kM55:hover {
  color: var(--token-aBsY9SsHOvs9dE);
  padding-left: 10px;
}
.link__jevth {
  position: relative;
  color: var(--token-tQRqDCxV2e3kAF);
  transition-property: all, all;
  transition-duration: 1s, 0.5s;
  -webkit-transition-property: all, all;
  -webkit-transition-duration: 1s, 0.5s;
}
.root .link__jevth:hover {
  color: var(--token-aBsY9SsHOvs9dE);
  padding-left: 10px;
}
.link__yc0Hc {
  position: relative;
  color: var(--token-tQRqDCxV2e3kAF);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__yc0Hc:hover {
  color: var(--token-aBsY9SsHOvs9dE);
  padding-left: 10px;
}
.freeBox__qE3VH {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__qE3VH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__qE3VH > :global(.__wab_flex-container) > *,
.freeBox__qE3VH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qE3VH > :global(.__wab_flex-container) > picture > img,
.freeBox__qE3VH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__deUqh {
  position: relative;
  font-weight: 700;
}
.freeBox__c80Ky {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__c80Ky > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__c80Ky > :global(.__wab_flex-container) > *,
.freeBox__c80Ky > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c80Ky > :global(.__wab_flex-container) > picture > img,
.freeBox__c80Ky
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__gv4De {
  color: var(--token-tQRqDCxV2e3kAF);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__gv4De:hover {
  color: var(--token-aBsY9SsHOvs9dE);
  padding-left: 10px;
}
.link__wDur7 {
  position: relative;
  color: var(--token-tQRqDCxV2e3kAF);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__wDur7:hover {
  color: var(--token-aBsY9SsHOvs9dE);
  padding-left: 10px;
}
.link__oCzO2 {
  position: relative;
  color: var(--token-tQRqDCxV2e3kAF);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__oCzO2:hover {
  color: var(--token-aBsY9SsHOvs9dE);
  padding-left: 10px;
}
.link__saaOe {
  position: relative;
  color: var(--token-tQRqDCxV2e3kAF);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__saaOe:hover {
  color: var(--token-aBsY9SsHOvs9dE);
  padding-left: 10px;
}
.link__xBuZq {
  position: relative;
  color: var(--token-tQRqDCxV2e3kAF);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__xBuZq:hover {
  color: var(--token-aBsY9SsHOvs9dE);
  padding-left: 10px;
}
.freeBox__pcOrB {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__pcOrB > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__pcOrB > :global(.__wab_flex-container) > *,
.freeBox__pcOrB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pcOrB > :global(.__wab_flex-container) > picture > img,
.freeBox__pcOrB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text___9IJbR {
  position: relative;
  font-weight: 700;
}
.text__wc0O {
  position: relative;
  font-size: 14px;
  color: var(--token-tQRqDCxV2e3kAF);
}
.freeBox___1M8Ca {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  box-shadow: 0px 4px 16px 0px #cbcbcb;
  transition-property: all;
  transition-duration: 0.5s;
  height: 48px;
  min-width: 0;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  border-radius: 5px;
}
.root .freeBox___1M8Ca:hover {
  box-shadow: 4px 4px 4px 4px var(--token-tQRqDCxV2e3kAF);
}
.textInput {
  position: relative;
  width: 100%;
  font-size: 14px;
  min-width: 0;
  border-radius: 5px;
  padding: 12px;
  border-width: 0px;
}
.button {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 48px;
  flex-shrink: 0;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.svg__wLtTn {
  position: relative;
  object-fit: cover;
  color: var(--token-aBsY9SsHOvs9dE);
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.freeBox___1D3Wa {
  flex-direction: column;
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  width: 100vw;
  height: auto;
  align-self: center;
  background: var(--token-aYxeuQ4qCMYdUH);
  padding: 32px 16px;
}
.freeBox___1D3Wa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___1D3Wa > :global(.__wab_flex-container) > *,
.freeBox___1D3Wa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1D3Wa > :global(.__wab_flex-container) > picture > img,
.freeBox___1D3Wa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__lDs6X {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__lDs6X > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__lDs6X > :global(.__wab_flex-container) > *,
.freeBox__lDs6X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lDs6X > :global(.__wab_flex-container) > picture > img,
.freeBox__lDs6X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__joTm:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__uG5F5 {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__uG5F5:hover {
  color: var(--token-aBsY9SsHOvs9dE);
}
.iconLink__sXKh5:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__oqcl {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__oqcl:hover {
  color: var(--token-aBsY9SsHOvs9dE);
}
.iconLink__tqFx2:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__s8N8H {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__s8N8H:hover {
  color: var(--token-aBsY9SsHOvs9dE);
}
.freeBox__abJon {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__abJon {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.text__nDgt9 {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.link__bhdi {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__bhdi:hover {
  text-decoration-line: underline;
}
.link__elaZw {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__elaZw:hover {
  text-decoration-line: underline;
}
