.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__cuJry {
  display: flex;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 32px 0px;
}
.freeBox__cuJry > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__cuJry > :global(.__wab_flex-container) > *,
.freeBox__cuJry > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cuJry > :global(.__wab_flex-container) > picture > img,
.freeBox__cuJry
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cuJry {
    padding: 16px 5px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.menuButtonexpanded:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButtonexpanded:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  flex-shrink: 0;
}
.img {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__cf07X {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cf07X {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxexpanded__cf07XtUvqd {
    display: none;
  }
}
.linkButton__sTvR:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__kwIgE:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__jKdHb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__bCa6Y:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__p8Alh:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__uNs1 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
}
.freeBox__uNs1 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__uNs1 > :global(.__wab_flex-container) > *,
.freeBox__uNs1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uNs1 > :global(.__wab_flex-container) > picture > img,
.freeBox__uNs1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.iconLink__zJAt:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__dw0Sb {
  position: relative;
  object-fit: cover;
  color: var(--token-4jlxsTNHEBaHT6);
  width: 18px;
  height: 18px;
}
.root .svg__dw0Sb:hover {
  color: var(--token-aBsY9SsHOvs9dE);
}
.iconLink__dTybs:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__aiDvq {
  position: relative;
  object-fit: cover;
  color: var(--token-4jlxsTNHEBaHT6);
  width: 18px;
  height: 18px;
}
.root .svg__aiDvq:hover {
  color: rgb(233, 156, 46);
}
.iconLink__ekb6:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gEwQd {
  position: relative;
  object-fit: cover;
  color: var(--token-4jlxsTNHEBaHT6);
  width: 18px;
  height: 18px;
}
.root .svg__gEwQd:hover {
  color: var(--token-aBsY9SsHOvs9dE);
}
.freeBox__xcmQd {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}
.linkButton__vePsD:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__alMsl:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__fQtcZ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__v4IMg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton___6MFCn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
