.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
  min-height: 0;
}
.freeBox__qe22 {
  max-width: 1140px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__tw3N {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100vw;
  background: var(--token-aYxeuQ4qCMYdUH);
}
.freeBox__tw3N > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__tw3N > :global(.__wab_flex-container) > *,
.freeBox__tw3N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tw3N > :global(.__wab_flex-container) > picture > img,
.freeBox__tw3N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__flMsR {
  max-width: 1140px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.freeBox__nv6Cm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
}
.text__xXe3P {
  position: relative;
  color: var(--token--AGj_c27cbF3Lg);
  font-size: 30px;
  font-weight: 500;
}
.productCollection__u2EKf:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCollection__u2EKf:global(.__wab_instance) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-row-gap: 10px;
  }
}
.productCard__dSip:global(.__wab_instance) {
  max-width: 100%;
}
.productMedia__vfsiy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  object-fit: cover;
}
.ratings__mlDE:global(.__wab_instance) {
  position: relative;
}
.text__mq77J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__jzM9M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__mLnp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
}
.text__uaqL {
  position: relative;
  color: var(--token--AGj_c27cbF3Lg);
  font-size: 30px;
  font-weight: 500;
}
.productCollection___54D8V:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCollection___54D8V:global(.__wab_instance) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.productCard__jnvGf:global(.__wab_instance) {
  max-width: 100%;
}
.productMedia__xwyVg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  object-fit: cover;
}
.ratings__lanWf:global(.__wab_instance) {
  position: relative;
}
.text__akKaj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__zzM4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox___2Xsi3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__htl6S {
  position: relative;
  color: var(--token--AGj_c27cbF3Lg);
  font-size: 30px;
  font-weight: 500;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
.column___9UyW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__eYha6:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__qzUps {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__qzUps > picture > img {
  object-fit: cover;
}
.img__qzUps > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__rFHdF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__ymApb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__hBon {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__hBon > picture > img {
  object-fit: cover;
}
.img__hBon > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___69Ejo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__pgeD:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___3WtY {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___3WtY > picture > img {
  object-fit: cover;
}
.img___3WtY > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__oEMaF {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-aYxeuQ4qCMYdUH);
  padding: 48px;
}
.freeBox__oEMaF > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__oEMaF > :global(.__wab_flex-container) > *,
.freeBox__oEMaF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oEMaF > :global(.__wab_flex-container) > picture > img,
.freeBox__oEMaF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__brlSj {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__brlSj > picture > img {
  object-fit: cover;
}
.img__brlSj > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__sgWuW {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img__sgWuW > picture > img {
  object-fit: cover;
}
.img__sgWuW > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__dq1Q9 {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__dq1Q9 > picture > img {
  object-fit: cover;
}
.img__dq1Q9 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__cmdVv {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__cmdVv > picture > img {
  object-fit: cover;
}
.img__cmdVv > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__gbwVo {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img__gbwVo > picture > img {
  object-fit: cover;
}
.img__gbwVo > .__wab_img-spacer > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
}
